<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ faculty }} - {{ department }}の必修授業</title>
    <link rel="stylesheet" href="/static/classlist.css">
</head>
<body>
    <h1>{{ faculty }} - {{ department }}の必修授業</h1>
    <ul >
        {% for class in classlist  %}
            <li>
                授業名:{{ class.name }}時間割コード:{{class.class_id}}{{ class.datetime}}
                <form action="/register_class"  method="post" style="display:inline">
                    <input type="hidden" name="class_name" value="{{ class.name }}">
                    <input type="hidden" name="class_datetime" value="{{ class.datetime }}">
                    <button type="submit" >登録</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="/schedule.html" class="schedule">週の時間割</a>
  
</body>
</html>
